/.vscode
/build
/fuck.c
/fuck.exe
/GradeCalculator.c
/GradeCalculator.exe
/input.txt
/input1.txt
/input2.txt
/input3.txt
/lab_assignment_4.c
/lab_assignment_4.exe
/Lab_Assignment_7.exe
/new.c
/new.exe
/pee.c
/pee.exe
/penis.c
/penis.exe